// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// 通用样式
body {
  font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial, sans-serif;
  background-color: #f3f7f9;
}

body.top-warn {
  margin-top: 55px;
}

// 顶部导航
.header {
  position: relative;
  z-index: 5;
  height: 73px;
  border-bottom: 1px solid #eceff1;
  border-top: 3px solid #4fb1f7;
  box-shadow: 0px 3px 10px 0px rgba(236, 239, 241, 1), 0 1px rgba(236, 239, 241, 1);
}

.header .logo {
  display: block;
  margin: 10px 10px 0 0;
}

//登录注册按钮
.header .aw-user-nav.active {
  background: transparent;
}

.header .aw-user-nav {
  float: right;
  position: relative;
  width: 180px;
  height: 35px;
  margin: 18px 0 0 15px;
  background: #f5f5f5;
  border-radius: 2px;
}

.header .aw-user-nav.active a {
  color: #fff;
  &:hover {
    text-decoration: none;
  }
}

.header .aw-user-nav.active .btn {
  height: 32px;
  line-height: 32px;
  margin: 0 0 0 10px;
}

.header .aw-user-nav .btn {
  float: left;
  width: 70px;
  height: 30px;
  line-height: 18px;
  margin: 12px 0 0 10px;
}

.btn-hollow.active {
  color: #4fb1f7 !important;
  border-color: #4fb1f7;
}

.btn:active, .btn.active {
  box-shadow: none;
}

.btn {
  height: 32px;
  min-width: 80px;
  padding: 0 15px;
  line-height: 32px;
  border: none;
  box-shadow: none;
  border-radius: 30px;
  font-synthesis: none;
  border: 1px solid #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}

.btn-primary, .label-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:hover {
  background-color: #4fb1f7;
  border-color: #4fb1f7;
}

//中间菜单导航
.header .navbar {
  float: right;
  margin: 0 5px 0 10px;
}

.header .navbar-nav > li {
  position: relative;
}

.header .navbar-nav > li > a {
  font-size: 15px;
  height: 68px;
  margin: 0 10px;
  padding: 20px 10px;
  line-height: 30px;
  color: #666;
  text-align: center;
  border-bottom: 5px solid #f5f8fa;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  position: relative;
}

.header .navbar-nav > li > a:after {
  content: "";
  width: 0;
  height: 5px;
  background: #4fb1f7;
  position: absolute;
  top: 100%;
  left: 50%;
  transition: all .6s;
}

.header .navbar-nav > li > a:hover:after {
  left: 0%;
  width: 100%;
  /*border-bottom: 5px solid #4fb1f7;*/
}

// 页面底部
.footer {
  background-color: #27374d;

  .sitemap {
    padding: 50px 0;
    background: #27374d;
    color: #728398;

    dl {
      float: left;
      margin-left: 86px;
    }
    dl:first-child {
      margin: 0;
    }
    dl dt {
      margin-bottom: 20px;
      color: #fff;
      line-height: 26px;
      font-weight: 300;
    }
    dl dd {
      margin: 0;
      line-height: 26px;
    }
    dl a {
      color: #728398;
    }
  }
  a {
    color: #728398;
  }
  .copyright {
    height: 71px;
    line-height: 70px;
    background: #27374d;
    font-size: 12px;
    color: #728398;
    text-align: center;

    span a {
      opacity: 1;
    }
    a {
      margin: 0 0 0 15px;
      opacity: 0.2;
      color: #fff;
      .active, &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
  hr {
    margin: 0;
    border-color: #36455a;
  }
}

//首页
.home-page {
  .alert-email {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    a.close-btn {
      font-size: 15px;
      position: relative;
      top: -6px;
    }
    a.go-email, a.again-send {
      color: #fff;
      background-color: #439ef7;
      padding: 6px 8px;
      border-radius: 4px;
      opacity: 0.9;
      margin: 0px 5px;
      &:hover {
        text-decoration: none;

      }
    }
  }
}

//登录页面
.login-page {
  .login-panel {
    border: 1px solid #eceff1;
    margin-top: 40px;
    background-color: #fff;
    box-shadow: -8px 8px 1px 0 rgba(0, 0, 0, 0.075);
    .panel-body input:focus {
      border: 1px solid #999;
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.075);
    }
  }
  .login-title {
    font-weight: bold;
    text-align: center;
  }
  .logo {
    text-align: center;
    border: 0;
  }
  .btn {
    font-size: 20px;
    font-weight: bold;
    width: 178px;
    height: 44px;
    line-height: 43px;
    margin: 12px 0 0 22px;
    &:hover {
      background-color: #439ef7;
      opacity: 0.9;
    }
  }
  .error-msg {
    margin: 0px;
    position: relative;
    em {
      position: absolute;
      left: -13%;
      padding-top: 6%;
      color: #ff0036ab;
      font-size: 12px;
      font-weight: bold;
    }
  }

  p.other-panel {
    text-align: center;
    margin: 0 0 0 36%;
    width: 36%;
    display: inline-block;
    a {
      color: #999;
      &:hover {
        color: #439ef7;
        text-decoration: none;
      }
    }
    span.keep-login {
      color: #999;
      float: left;
    }
    span.forget-register {
      float: right;
    }
    input[type="checkbox"] {
      width: 13px;
      height: 13px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      line-height: 18px;
      position: relative;
      bottom: 4px;
      right: 3px;
      &:hover {
        cursor: pointer;
      }
    }
    input[type="checkbox"]::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      width: 100%;
      height: 100%;
      border: 1px solid #999
    }
    input[type="checkbox"]:checked::before {
      content: "\2713";
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border: 1px solid #439ef7;
      color: #439ef7;
      font-size: 15px;
      font-weight: bold;
    }
  }
  .alert-msg {
    width: 281px;
    margin: 0px 0px 0px 15px;
    padding: 8px;
  }
}

//注册页面
.register-page {
  .register-panel {
    border: 1px solid #eceff1;
    margin-top: 40px;
    background-color: #fff;
    box-shadow: -8px 8px 1px 0 rgba(0, 0, 0, 0.075);
    .panel-body input:focus {
      border: 1px solid #999;
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.075);
    }
    p.register-skip {
      margin: 5px 10px 0px 0px;
      text-align: right;
      font-size: 13px;
      a {
        color: #666;
        padding-right: 5px;
        &:hover {
          text-decoration: none;
          font-weight: bold;
          color: #4fb1f7;
        }
      }
    }
    .register-title {
      font-weight: bold;
      text-align: center;
    }
    .logo {
      text-align: center;
      border: 0;
    }
    .btn {
      font-size: 20px;
      font-weight: bold;
      width: 178px;
      height: 44px;
      line-height: 43px;
      margin: 12px 0 0 22px;
      &:hover {
        background-color: #439ef7;
        opacity: 0.9;
      }
    }
    .submit-btn {
      &:hover {
        background-color: #4fb1f7;
        opacity: 0.65;
        border: 0;
      }
    }
    .captcha-pic {
      margin-left: -15px;
      img {
        border-radius: 4px;
      }
    }
    .error-msg {
      margin: 0px;
      position: relative;
      em {
        position: absolute;
        left: -13%;
        padding-top: 6%;
        color: #ff0036ab;
        font-size: 12px;
        font-weight: bold;
      }
      em.captcha-error-msg {
        left: -70%;
        top: 5px;
      }
    }
    span.msg {
      text-align: center;
      display: block;
      margin-top: 10px;

      input[type="checkbox"] {
        width: 18px;
        height: 18px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 18px;
        position: relative;
        bottom: 3px;
        &:hover {
          cursor: pointer;
        }
      }
      input[type="checkbox"]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        border: 1px solid #999
      }
      input[type="checkbox"]:checked::before {
        content: "\2713";
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border: 1px solid #439ef7;
        color: #439ef7;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

//注册页面弹层样式
body .layer-layout {
  background-color: rgba(67, 158, 247, 0.85);
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 15px;
  text-align: center;
  line-height: 19px;
}

body .layer-layout .layui-layer-content {
  padding: 30px 15px 15px 15px;
  a {
    color: #666;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
  p.count-down {
    font-size: 13px;
  }
}

//忘记密码
.forgot-password-page {
  .forgot-password-panel {
    border: 1px solid #eceff1;
    margin-top: 40px;
    background-color: #fff;
    box-shadow: -8px 8px 1px 0 rgba(0, 0, 0, 0.075);
    .panel-body input:focus {
      border: 1px solid #999;
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.075);
    }
    .forgot-password-title {
      font-weight: bold;
      text-align: center;
    }
    .logo {
      text-align: center;
      border: 0;
    }
    p.import-msg {
      text-align: center;
      font-weight: bold;
    }
    .btn {
      font-size: 20px;
      font-weight: bold;
      width: 178px;
      height: 44px;
      line-height: 43px;
      margin: 12px 0 0 22px;
      &:hover {
        background-color: #439ef7;
        opacity: 0.9;
      }
    }
    .next-btn {
      &:hover {
        background-color: #4fb1f7;
        opacity: 0.65;
        border: 0;
      }
    }
    .captcha-pic {
      margin-left: -15px;
      img {
        border-radius: 4px;
      }
    }
  }
}

.margin-top-10 {
  margin-top: 10px !important;
}

.color-blue {
  /*color: #4fb1f7 !important;*/
  color: #d3e0e9;
}

span.divide {
  color: #999;
}

.hide {
  display: none;
}

//模态框
.modal-dialog{
  .modal-top {
    padding: 10px;
    .modal-close {
      font-size: 16px;
    }
    .title {
      color: #666;
      font-weight: bold;
    }
  }
  .modal-body{
    .alert-tip{
      text-align: center;
      line-height: 28px;
      padding: 10px;
    }
    p.content-tip{
      line-height: 28px;
    }
    a.close-btn {
      font-size: 15px;
      position: relative;
      top: -6px;
    }
    a.go-email, a.again-send {
      color: #fff;
      background-color: #439ef7;
      padding: 6px 8px;
      border-radius: 4px;
      opacity: 0.9;
      margin: 0px 5px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
